.card {
  position:absolute;
  perspective:1000px;
  cursor:pointer;
}

.card-inner {
  width:450px;
  height:650px;
  position:relative;
  transform-style:preserve-3d;
  transition:0.8s;
}

.card.flipped .card-inner {
  transform:rotateY(180deg);
}

.card-face {
  position:absolute;
  width:100%;
  height:100%;
  border-radius:60px;
  backface-visibility:hidden;
  padding:20px;
  font-family:Georgia, serif;
  background:white;
}

.card-back {
  transform:rotateY(180deg);
}
